.navbar {
    opacity: 0.9;
    background-color: grey;
    justify-content: flex-end;
}

.navbar a {
    color: white;
}

.nav-link-logout {
    cursor: pointer;
}

.bg {
    opacity: 0.85;
}

.dateAndTime {
    position: absolute;
    text-align: center;
    left: 45%;
    color: white;
}
