<div class="dateAndTime">
  {{ time | async | date:'medium' }}
</div>

<!-- EXPANSION PANEL WITH FILTERS -->
<mat-expansion-panel (opened)="filterOpenState = true" (closed)="filterOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filters
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form [formGroup]="filterForm" (ngSubmit)="filterData()">
    <formly-form [form]="filterForm" [fields]="filterFields"></formly-form>
    <div class="actions">
      <button class="buttonAction" mat-raised-button color="warn" (click)="cleanFilterForm()">Reset</button>
      <button class="buttonAction" mat-raised-button color="primary" type="submit">Filter</button>
    </div>
  </form>
</mat-expansion-panel>


<!-- EXPANSION PANEL WITH COLUMN VISIBILITY -->
<mat-expansion-panel (opened)="visibilityOpenState = true" (closed)="visibilityOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Columns visibility
    </mat-panel-title>
  </mat-expansion-panel-header>

  <!-- ON/OFF COLUMNS -->
  <div class="columnCheckboxes">
    <ng-container class="columnCheckboxes" *ngFor="let i = index; let column of displayedColumns;"
      [matColumnDef]="column.key">
      <mat-checkbox class="columnCheckbox" (change)="refreshColumns(column, i, $event)"
        [checked]="displayedColumns.indexOf(column) !== -1">
        {{ column.value }}
      </mat-checkbox>
    </ng-container>
  </div>
</mat-expansion-panel>


<!-- EXPANSION PANEL WITH TABLE -->
<mat-expansion-panel (opened)="tableOpenState = true" (closed)="tableOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Table
    </mat-panel-title>
  </mat-expansion-panel-header>

  <!-- TABLE -->
  <div class="tableContainer">

    <div class="example-loading-shade" *ngIf="dataFetched">
      <mat-progress-spinner mode="indeterminate" *ngIf="dataFetched"></mat-progress-spinner>
    </div>

    <!-- TABLE -->
    <mat-table [dataSource]="persons" matSort cdkDropList cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)" class="mat-elevation-z8">

      <!-- COLUMNS -->
      <ng-container *ngFor="let column of displayedColumns; let i = index;" [matColumnDef]="column.key"
        [ngSwitch]="column.key">

        <!-- CHECKBOX COLUMN HEADER -->
        <div *ngSwitchCase="'select'">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
        </div>

        <!-- DEFAULT COLUMNS VERBOSE NAMES -->
        <div *ngSwitchDefault>
          <mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>
            {{ column.value }}
          </mat-header-cell>
        </div>

        <!-- COLUMN VALUES -->
        <mat-cell *matCellDef="let element; let i = index; let row;" [ngSwitch]="column.key">

          <!-- CHECKBOX COLUMN -->
          <div *ngSwitchCase="'select'">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </div>

          <!-- INDEX COLUMN -->
          <div *ngSwitchCase="'position'">
            {{ i + 1 }}
          </div>

          <!-- ACTIONS COLUMN -->
          <div *ngSwitchCase="'actions'">
            <button class="mat-elevation-z0" mat-mini-fab color="primary" (click)="personClicked(element, $event);">
              <span class="material-icons">edit</span>
            </button>
          </div>

          <!-- DEFAULT COLUMN -->
          <div *ngSwitchDefault>
            {{ element[column.key] }}
          </div>

        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="selection.toggle(row)"></mat-row>
    </mat-table>

  </div>

  <!-- PAGINATOR -->
  <mat-paginator [pageSize]="5" [length]="length" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 25, 50, 100]"
    showFirstLastButtons>
  </mat-paginator>
</mat-expansion-panel>


<!-- EXPANSION PANEL WITH FORM -->
<mat-expansion-panel [expanded]="panelOpenState == true" (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Create / Update form
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form [formGroup]="createPersonForm" (ngSubmit)="onSubmit()">
    <formly-form [form]="createPersonForm" [fields]="formFields" [(model)]="selectedPerson"></formly-form>
    <button mat-raised-button color="primary" *ngIf="selectedPerson.id == -1" type="submit">Create</button>
  </form>

  <div class="actions">
    <button class="buttonAction" mat-raised-button color="accent" *ngIf="selectedPerson.id != -1"
      (click)="cleanForm()">Reset</button>
    <button class="buttonAction" mat-raised-button color="warn" *ngIf="selectedPerson.id != -1"
      (click)="deletePerson()">Delete</button>
    <button class="buttonAction" mat-raised-button color="primary" *ngIf="selectedPerson.id != -1"
      (click)="updatePerson()">Update</button>
  </div>
</mat-expansion-panel>

