.login-container {
    position: relative;
    margin: auto;
    width: 350px;
    height: 480px;
    border: 3px solid #e7ab2a;
    padding: 70px 0;
    margin-top: 150px;
    border-radius: 15px;
    -webkit-box-shadow: 1px 6px 35px 5px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 6px 35px 5px rgba(0,0,0,0.64);
    box-shadow: 1px 6px 35px 5px rgba(0,0,0,0.64);
    background-color: white;
    opacity: 0.9;
}

.title {
    font-weight: bold;
    font-family: cursive;
    padding-bottom: 20px;
}

.nav-link {
    position: absolute;
    float: right;
    right: 0;
    bottom: 0;
    font-size: 14px;
}
