.direction {
    float: right;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.columnInfoText {
    font-size: 14px;
    display: table-cell;
    white-space: nowrap;
}
