<mat-form-field appearance="fill">
    <mat-label>Sort control</mat-label>
    <mat-select [formControl]="sortFormControl" multiple (selectionChange)="onSelect()">
        <mat-select-trigger>
            <div class="columnInfoText">
                {{
                    sortFormControl.value ?
                    sortFormControl.value[0] ? getFirstColumnInfo() : ''
                    : ''
                }}
            </div>
            <span *ngIf="sortFormControl.value?.length > 1" class="example-additional-selection">
                (+{{sortFormControl.value.length - 1}} {{sortFormControl.value?.length === 2 ? 'other' : 'others'}})
            </span>
        </mat-select-trigger>
        <div cdkDropList (cdkDropListDropped)="drop($event)">
            <mat-option *ngFor="let column of columnsAndOrderDirection" cdkDrag [value]="column.name">
                {{column.verboseName}}
                <div class="direction">
                    <mat-slide-toggle (click)="onSelect($event)" [(ngModel)]="column.sortDirection">
                        <span *ngIf="!column.sortDirection" class="material-icons">
                            keyboard_arrow_down
                        </span>
                        <span *ngIf="column.sortDirection" class="material-icons">
                            keyboard_arrow_up
                        </span>
                    </mat-slide-toggle>
                </div>
            </mat-option>
        </div>
    </mat-select>
</mat-form-field>
